<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/png" href="/CSS/spy_favicon.png">
<link rel="stylesheet" href="/CSS/styles.css">
<meta charset="ISO-8859-1">
<title th:text="|${agentChosen.agentName}'s Missions|">View Missions</title>
</head>
<body>
	<div id="clockHeader">
		<div id="clockTime">
			<span  th:text="${#dates.format(#dates.createNow(), 'HH:mm')}">time</span>
		</div>
		<div id="clockDay">
			<span  th:text="${#dates.format(#dates.createNow(), 'MMM dd')}">day</span>
		</div>
	</div>
	
 	<div class="tableBox" th:if="${missions.size() < 1}">
 		<h1 id="pageTitle" th:text="|${agentChosen.agentName} has no missions currently|">NO missions for Name</h1>
	</div>	 
	<div class="tableBox" th:unless="${missions.size() < 1}">
		<h1 id="pageTitle" th:text="|Here are the missions for ${agentChosen.agentName}|">Missions for Name</h1>
		<table border="1">
			<tr>
				<th>Title</th><th>Gadget 1</th><th>Gadget 2</th><th colspan="2">Operations</th><th>Status</th>
			</tr>
			<tr th:each="mission : ${missions}" >
				<td class="tableData" th:text="${mission.title}">Mission Name</td>
				<td th:text="${mission.gadget1}">Gadget 1</td>
				<td th:text="${mission.gadget2}">Gadget 2</td>
				<!--  -->
				<td th:if="${mission.isActive == 2}" colspan="2">
					<span th:if="${mission.timeRemaining == '0'}">
						<a href="#" th:href="@{/completeMission/} + ${mission.id}">Mission Complete</a>
					</span>
					<span th:unless="${mission.timeRemaining == '0'}" th:text="${mission.timeRemaining}">N/A</span>
				</td>
				<td th:unless="${mission.isActive == 2}"><a href="#" th:href="@{/editMission/} + ${mission.id}">Edit</a></td>
				<td th:unless="${mission.isActive == 2}"><a href="#" th:href="@{/deleteMissionFromAll/} + ${mission.id}">Delete</a></td>
				<!--  -->
				<td th:if="${mission.isActive == 2}" id="actContainer"><span id="missionActive">Active</span></td>
				<td th:if="${mission.isActive == 1}"><span class="missionUnavailable">Unavailable</span></td>
				<td th:if="${mission.isActive == 0}"><a href="#" th:href="@{/launchMission/} + ${mission.id}">Launch</a></td>
			</tr>
		</table>
	</div>
	<a class="button" href="#" th:href="@{/createMission}">Create a Mission</a>
	<a class="button" href="#" th:href="@{/viewAllMissions}">View All Missions</a>
	<a class="button" th:href="@{/}">Go Home</a>
</body>
</html>